{{#each chats}}
  <ul class="messenger__chat-list">
    <li class="messenger__chat-list-item">
      <img
        class="messenger__chat-avatar"
        width="47"
        height="47"
        src={{avatar}}
        alt={{first_name}}
      />
      <div class="messenger__chat-info-container">
        <p
          class="messenger__chat-title text text_primary text__caption"
        >{{title}}</p>
        <p
          class="messenger__last-message text text_secondary text__caption"
        >{{last_message.content}}</p>
      </div>
      <div class="messenger__chat-time-and-count-container">
        <p
          class="messenger__chat-time text text_secondary text__caption"
        >{{last_message.time}}</p>
        <p
          class="messenger__chat-count text text_button text__caption"
        >{{unread_count}}</p>
      </div>
    </li>
  </ul>
{{/each}}

<link rel="stylesheet" href="../styles/messenger.css" />
<link rel="stylesheet" href="../styles/text.css" />