<label for={{name}} class="form__label">{{label}}</label>
<input
  type={{type}}
  name={{name}}
  id={{name}}
  class="text text__input text_primary form__input form__input_{{#if visibility}}{{visibility}}{{/if}}"
/>
<p class="text_error form__error"></p>