<div class="profile__form-input-group">
  <label for={{name}} class="text text__input text_primary">{{label}}</label>
  <input
    type={{type}}
    name={{name}}
    id={{name}}
    class="text text__input text_secondary profile__form-input"
  />
</div>

<link rel="stylesheet" href="../styles/profile.css" />
<link rel="stylesheet" href="../styles/text.css" />